@font-face {
  font-family: Cairo-Custom;
  src: url('./font/Cairo-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Cairo-Custom';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  overflow-x: hidden;
}


#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}