.navbar {
    width: 288px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: black;
}
.navbar-items {
    position:fixed;
    margin-top: 8em;
    margin-left: 5em;
    width: 100px;
}

.project-navbar-items {
    position: fixed;
    margin-top: 8em;
    margin-left: 2em;
    width: 200px;
    margin-right: 2em;
    font-size: 18px;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 100%;
}

.navlinks {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 3em;
}
.navlink {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.navlink.active {
    color: white;
}

.navlink:hover {
    color: white;
}

.project-description p{
    border-bottom: 1px solid white;
    margin: 0;
}

.project-description div{
    color: rgba(255,255,255,0.5);
    display: inline-block;
    margin-bottom: 2em;
}
