.work-container {
    position: relative;
    display: flex;
    width: 100vw;
}

.content {
    position: relative;
    width: 1632px;
}

.intro-container {
    position: relative;
    width: 100%;
    height: 70vh;
}

.intro {
    position:relative;
    top: 25%;
    margin-left: 5%;
}

.intro p {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.intro-desc {
    font-size: 24px;
    font-weight: 400;
    margin-top: 1em;
}

.work-availability {
    background-color: rgba(0,0,0,0.97);
    width: 255px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 15px;
}

.work-availability p {
    font-size: 18px;
    font-weight: 700;
    line-height: 63px;
    color: white;
}

.work-email {
    display: none;
    font-size: 18px;
    font-weight: 700;
}

.work-availability:hover .work-email {
    display: block;
    z-index: 2;
}

.work-availability:hover .slider, .work-availability:hover p {
    display: none;
}


.work-availability:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.97);
}

.slider {
    margin-right: 12px;
}

.projects {
    position: relative;
    width: 85vw;
}

.projects p {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-left: 6%;
    margin-right: 10%;
    display: block;
}
.fade-section-up.visible .pando .pando-text .horizontal,
.fade-section-up.visible .popinion-and-pokemon .popinion .popinion-text .horizontal,
.fade-section-up.visible .popinion-and-pokemon .pokemon .pokemon-text .horizontal,
.fade-section-up.visible .scrabble-and-plots .scrabble .scrabble-text .horizontal,
.fade-section-up.visible .scrabble-and-plots .plots .plots-text .horizontal{
    transform: scaleX(1);

}
.num {
    font-size: 24px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5);
}

.horizontal {
    height: 1px;
    border-bottom: 1px solid white;
    width: 90%;
    margin-left: 5%;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 1s;
}


.pando {
    position: relative;
    width: 75vw;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.pando, .popinion, .plots, .pokemon, .scrabble {
    transition: 0.5s;
}

.pando-text {
    position: relative;
    margin-top: -14%;
    margin-left: 5%;
    margin-right: 5%;
}

.popinion-text, .pokemon-text, .scrabble-text, .plots-text {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.pando-desc, .popinion-desc, .pokemon-desc, .scrabble-desc, .plots-desc {
    position: relative;
    font-size: 24px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255, 0.5);
    width: 500px;
    font-weight: 600;
}

.pando-images {
    position: absolute;
    right:10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 600px;
}

.pando-screenshot, .plots-screenshots {
    opacity: 0.6;
}

.pando-screenshot, .popinion-screenshot, .pokemon-screenshots, .scrabble-screenshot, .plots-screenshots {
    position: relative;
    z-index: 1;
}

.plots-screenshots {
    margin-top: 5%;
}
.plots-screenshots img{
    margin: 0 20px 0 20px;
}

.plots-images .construction {
    margin-top: 20%;
}
.popinion-images, .pokemon-images, .scrabble-images, .plots-images {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.scrabble-images {
    margin-top: 8%;
}
.pokemon-images {
    margin-top: 22%;
}
.greenblur, .pinkblur, .whiteblur, .redblur, .blueblur, .purpleblur {
    position: absolute;
    transition: 0.5s;
}

.pinkblur {
    margin-top: -7%;
    margin-left: -7%;
}

.whiteblur {
    margin-top: -5%;
    margin-right: 40%;
}

.redblur {
    margin-top: -5%;
    margin-left: 40%;
}

.blueblur {
    margin-top: -10%;
}

.purpleblur {
    margin-top: -5%;
}
.construction {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 184, 0);
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    z-index: 2;
}

.pando:hover .pando-images .greenblur, .popinion:hover .popinion-images .pinkblur, 
.pokemon:hover .pokemon-images .whiteblur, .pokemon:hover .pokemon-images .redblur,
.scrabble:hover .scrabble-images .blueblur,
.plots:hover .plots-images .purpleblur {
    transform:scale(1.5);
}

.pando:hover, .popinion:hover, .pokemon:hover, .scrabble:hover, .plots:hover {
    transform: translateY(-14px);
    box-shadow: 0 14px 14px 0 rgba(255,255,255,0.05);
}

.popinion-and-pokemon, .scrabble-and-plots {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75vw;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    overflow-anchor: none;
}

.popinion, .pokemon, .scrabble, .plots {
    position: relative;
    width: 49.5%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}

.popinion {
    text-decoration: none;
    color: white;
}

.connect {
    font-size: 24px;
    font-weight: 400;
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}



