.work-container {
    position: relative;
    width: 1920px;
    height: 100%;
}

.intro-container {
    position: relative;
    width: 1920px;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.97) 100%);
}

.intro {
    position:relative;
    top: 25%;
    margin-left: 10%;
}

.tools {
    position: relative;
    top: 40%;
    margin-left: 10%;

}
.intro p {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

.intro-desc-1, .intro-desc-2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 67px;
}
.projects {
    position: relative;
    width: 1920px;
    height: 100%;
    background: rgba(0,0,0,0.97);
}

.projects p {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.pando {
    position: relative;
    width: 1536px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.pando, .popinion, .plots, .pokemon, .scrabble {
    transition: 0.5s;
}

.pando-text {
    position: relative;
    margin-top: -12%;
    margin-left: 5%;
}

.popinion-text, .pokemon-text, .scrabble-text, .plots-text {
    margin-top: 10%;
    margin-left: 5%;
}

.pando-desc, .popinion-desc, .pokemon-desc, .scrabble-desc, .plots-desc {
    position: relative;
    font-size: 24px !important;
    color: rgba(255,255,255, 0.5);
    width: 500px;
    font-weight: 600;
}

.pando-images {
    position: absolute;
    right:10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 600px;
}

.pando-screenshot, .plots-screenshots {
    opacity: 0.6;
}

.pando-screenshot, .popinion-screenshot, .pokemon-screenshots, .scrabble-screenshot, .plots-screenshots {
    position: relative;
    z-index: 1;
}

.plots-screenshots {
    margin-top: 5%;
}
.plots-screenshots img{
    margin: 0 20px 0 20px;
}

.plots-images .construction {
    margin-top: 20%;
}
.popinion-images, .pokemon-images, .scrabble-images, .plots-images {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.pokemon-images {
    margin-top: 22%;
}
.greenblur, .pinkblur, .whiteblur, .redblur, .blueblur, .purpleblur {
    position: absolute;
    transition: 0.5s;
}

.pinkblur {
    margin-top: -7%;
    margin-left: -7%;
}

.whiteblur {
    margin-top: -5%;
    margin-right: 40%;
}

.redblur {
    margin-top: -5%;
    margin-left: 40%;
}

.blueblur {
    margin-top: -10%;
}

.purpleblur {
    margin-top: -5%;
}
.construction {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 184, 0);
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    z-index: 2;
}

.pando:hover .pando-images .greenblur, .popinion:hover .popinion-images .pinkblur, 
.pokemon:hover .pokemon-images .whiteblur, .pokemon:hover .pokemon-images .redblur,
.scrabble:hover .scrabble-images .blueblur,
.plots:hover .plots-images .purpleblur {
    transform:scale(1.5);
}

.pando:hover, .popinion:hover, .pokemon:hover, .scrabble:hover, .plots:hover {
    transform: translateY(-14px);
    box-shadow: 0 14px 14px 0 rgba(255,255,255,0.05);
}

.popinion-and-pokemon, .scrabble-and-plots {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1536px;
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.popinion, .pokemon, .scrabble, .plots {
    position: relative;
    width: 49.5%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}

.footer {
    width: 100vw;
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255,255,255, 0.5);
    margin: 0 20px 0 20px;
}

.links a:hover {
    color: rgba(255,255,255, 0.2);
}

.created-by {
    margin-top: 5%;
}



